header{
       display: flex;
       justify-content: space-around;

}

ul{ 
       display: flex;
       justify-content: center;
       color: white;
       gap: 20px;
       font-size: 17px;

       
       

}

a{
text-decoration: none;
color: gray;

}
.me{
    color: #00b39b;
}


div{
    text-align: center;
    margin-top: 40px;
    
    

}

li{
       height: 30px;
       width: 30px;
       display: flex;
       justify-content: center;

       
       
}
  .hero-title{
        font-size: 32px;
        font-weight: 300;
        color: #00b39b;
        line-height: 1.3;
        max-width: 700px;
        margin: 0 auto;



  }
  .logo-center{
       width: 70px;
       height: auto;
       margin-bottom: 25px;
       
       

  } 
  .container{

display: flex;
justify-content: space-between;
align-content: flex-start;
height: 140px;


  }
  .him{ 

justify-content: flex-start;
width: 400px;
margin-left: 200px;
color: gray;
font-size: 18px;
text-align: justify;



}
.her{

justify-content: flex-start;
width: 400px;
margin-right: 200px;
color: gray;
font-size: 18px;
text-align: justify;


}
 
   

.boxs{
  
  display: flex;
  justify-content: center;
  gap: 20px;
  
  
}

.card-green{
  
   background-color: rgb(25, 151, 82);
   justify-content: center;
   border-radius: 20px;
   height: 300px;
   width: 300px;
   font-size: 30px;


}
 
 .bleu-card{

background-color: rgb(50, 50, 197);
border-radius: 20px;
width: 300px;
height: 300px;
font-size: 30px;


 }

.gray-card{

background-color: rgb(53, 61, 58);
border-radius: 20px;
width: 300px;
height: 300px;
font-size: 30px;



}










 





