header{
       display: flex;
       justify-content: space-around;

}

ul{ 
       display: flex;
       justify-content: center;
       color: white;
       gap: 20px;
       font-size: 17px;

       
       

}

a{
text-decoration: none;
color: gray;

}
.me{
    color: rgb(7, 194, 138);
}


